# Database Connection
DB_CONNECTION_STRING=Server=YOUR_SERVER;Database=YOUR_DATABASE;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=true

# Backend Configuration
BACKEND_PORT=5032
BACKEND_URL=http://localhost:5032

# Frontend Configuration
FRONTEND_PORT=4200
FRONTEND_URL=http://localhost:4200
